h3 {
  position: absolute;
  top: 200px;
  left: 600px;
  font-size: 30px;
}

.icon  {
  position: absolute;
  left: 5px;
  top: 17px;
}

.fa-window-close {
  position: absolute;
  right: 3px;
  top: 17px;
}

.fa-window-close:hover{
  color: #F44336;
}
 /* Style the tab */
.tab {
  overflow: hidden;
  background-color: inherit;
  left: 400px;
  top: 100px;
  position: absolute;
}

/* Style the buttons that are used to open the tab content */
.mat-tab-label
{
  width: 170px;
}

.mat-tab-group.mat-primary .mat-ink-bar{
   background: #eeeafa;
  height: 0px;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: flex;
    background-color: beige;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination:hover {
    background-color: #dbdbb1;
}

/* style the iframe and its wrapper*/
.wrapper {
  position: absolute;
  top: 200px;
  left: 500px;
  height: 500px;
  width: 1000px;
}

.wrapper iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  height: 50px;
  width: 170px;
  background-color: lightblue;
  color: darkslategrey;
  float: left;
  position: relative;
}



/* Change background color of buttons on hover */
button:hover {
  background-color: lightcyan;
}

/* Create an active/current tablink class */
button.active {
  background-color: #ccc;
  display: block;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
}

.chosen-tab{
  background-color: bisque;
}
