<head>
    <link rel="stylesheet" type="text/css" href="service-ports-subports.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <app-scroll-tabs></app-scroll-tabs>
    <!--
    <div class="wrapper">
        <iframe src = "http://localhost:3000/d/QWZC7A4Gk/new-dashboard-copy?orgId=1&from=1593001267644&to=1595475832966" width="650" height="300"></iframe>
    </div>
    -->

    <!--
    <div class="wrapper">
        <iframe src = "https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4" width="650" height="300"></iframe>
    </div>
    -->


    <div class="nav scroll">
        <!-- <label for="menu" id="nav-icon">&#9776;</label> -->
        <div class="multi-level">
            <div *ngFor="let portfolio of portfolios" class="item">
                <i [ngClass]="{'fa fa-angle-down arrow': true, 'normal': portfolio.active === false, 'rotated': portfolio.active === true}"></i>
                <!-- (click)="processClick(portfolio)" -->
                <label (click)="togglePortfolio(portfolio)" for="{{portfolio.name}}"> <a href="ffghhj">
                  <i class="fa fa-briefcase" style="color: rgb({{portfolio.portfolioRed}}, {{portfolio.portfolioGreen}}, {{portfolio.portfolioBlue}}); filter: brightness(75%);"
                     id = "{{portfolio.name}}" (mouseover)="changeOpacity(portfolio.name, 0)" (mouseleave)="changeOpacity(portfolio.name, 1)" title="View details"> </i></a>
                  {{ portfolio.name}}</label>

                <ul><div *ngIf="portfolio.active === true">
                    <div *ngFor="let subportfolio of subportfolios[portfolio.name]" class="sub-item">
                        <label title="{{ subportfolio.name}}"  (click)="toggleSubPortfolio(subportfolio, portfolio)" for="{{subportfolio.name}}">
                          <i [ngClass]="{'fa fa-angle-down arrow': true, 'normal': subportfolio.active === false, 'rotated': subportfolio.active === true}"></i>
                          <a href="ffghhj"><i class="fa fa-diamond" style="color: rgb({{portfolio.sub_portfolioRed}}, {{portfolio.sub_portfolioGreen}}, {{portfolio.sub_portfolioBlue}}); filter: brightness(75%"
                          id = "{{subportfolio.name}}" (mouseover)="changeOpacity(subportfolio.name, 0)" (mouseleave)="changeOpacity(subportfolio.name, 1)" title="View details"> </i></a>
                          <script>
                            $(document).ready(function(){
                            $('[data-toggle="tooltip"]').tooltip();
                            });
                          </script>

                          {{barSubportfolioName(subportfolio)}}</label>

                        <div *ngIf="subportfolio.active === true">
                        <ul *ngFor="let service of services[subportfolio.name]">
                            <!-- (click)="//onServiceClick(service)" -->

                            <li title="{{service.service_name}}" (click)="actServ.toggleService(service)"><label class="check_hover" >
                              <i class="fa fa-book" style="color: rgb({{portfolio.sub_portfolioRed}},
                              {{portfolio.sub_portfolioGreen}}, {{portfolio.sub_portfolioBlue}});
                                filter: brightness(75%); position: relative; left: 5px;" id = "{{service.service_name}}"
                               (mouseover)="changeOpacity(service.service_name, 0)"
                               (mouseleave)="changeOpacity(service.service_name, 1)" title="View details"></i>
                              <span>&nbsp;</span>
                              {{barServiceName(service)}}</label>
                            <!--<div class="no-hover">Hi!!!</div> -->
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                </ul>
            </div>
        </div>

    </div>
</body>

